<a
  [ngClass]="props.className"
  [href]="props.href || '#'"
  [target]="props.target || '_self'"
  [style.display]="props.display || 'inline-block'"
  [style.background-color]="props.backgroundColor"
  [style.color]="props.color"
  [style.font-size]="props.fontSize"
  [style.font-weight]="props.fontWeight"
  [style.padding]="props.padding"
  [style.margin]="props.margin || '0'"
  [style.border-radius]="props.borderRadius"
  [style.opacity]="props.opacity ?? 1"
  [style.border]="props.border"
  [style.box-shadow]="props.shadow"
>
  {{ props.label }}
</a>
